body {
    background: url(/assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat center fixed;
    height: 1100px;
    font-family: 'Cabin', sans-serif;
    font-size: 1.3em;
    
    
}
h2{ font-size: 1.7em

}

p{
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.4em;
}

#page{
    height: 100%;
    text-align: center;
 
}

button{
    background-color: black;
    color: gray;
    border-radius: 18px;
    padding: 10px 18px;
}
.startBtnPos{
    margin-top: 50px;
}


#done{
    margin-top: 30px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    
}

#timeRemaining {
    display: none;
    margin: 1.5em 0;
}


#question{
    margin-top: 20px;
    display: none;
}

.answer{
    width: 150px !important;
    border-radius: 25px;
}

.questionSpacing{
    margin: 18px 0;
}


.photoattrib{
    position: absolute; 
    bottom: 10px;
    right: 20px;
}




